{{template "header.html" .}}

{{if .noPinCode}}
<script>
    $(function () {
        bootbox.prompt({
            title: "Since you are accessing sFTP client not from localhost you should enter pin code",
            inputType: 'number',
            callback: function (pinCode) {
                if ($.trim(pinCode) === "") {
                    return
                }
                $.ajax({
                    method: "PUT",
                    url: "/setPinCode",
                    data: {
                        pin_code: pinCode
                    },
                    success: function (response) {
                        if (response["result"]) {
                            window.location.reload()
                        } else {
                            bootbox.alert(response["message"]);
                        }
                    }
                })
            }
        });
    })
</script>

{{else}}

<div class="container">
    <div class="row">
        <div class="text-right">
            <span data-toggle="tooltip" data-placement="bottom" data-container="body"
                  title="You will need this PIN code to access client not from localhost"
                  style="border-bottom: 1px dotted #000;">PIN code: <span id="pinCode">{{.pinCode}}</span></span>
        </div>
        <div class="text-center" style="margin-bottom: 20px">
            <a href="#" id="connectionNameDisplay"
               style="font-weight: bold;margin-bottom: 0;margin-top: 0;font-size: 18pt;">&nbsp;</a>
        </div>
        <form class="form-inline mainForm" style="margin-bottom: 5px">
            <div class="form-group">
                <label for="sshIp">IP</label>
                <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="Save credentials in cookies?" data-toggle="tooltip"
               data-placement="top" class="saveCredentialsInCookies"
               tabindex="-1"
               title="This will save credentials that will be available even after you restart client. Cookies MUST be enabled. Valid for 7 days only.">
      </span>
                    <input type="text" class="form-control" id="sshIp" placeholder="ex. 127.0.0.1" autofocus>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle showStoredConnections ladda-button"
                                data-toggle="dropdown" data-spinner-color="#4bdbf3" tabindex="-1"
                                aria-haspopup="true" aria-expanded="false" data-style="zoom-out"><span
                                class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="sshUser">User</label>
                <input type="text" class="form-control" id="sshUser" placeholder="root">
            </div>
            <div class="form-group">
                <label for="sshPassword">Password</label>
                <input type="password" class="form-control" id="sshPassword" placeholder="123"
                       data-toggle="password">
            </div>
            <div class="form-group">
                <label for="sshPort">Port</label>
                <input type="text" class="form-control" id="sshPort" placeholder="22" value="22">
            </div>
        </form>
        <form class="form-inline" style="margin-left: 15px;margin-bottom: 50px">
            <div class="form-group">
                <button type="button" role="button" id="testSSHConnection" class="btn btn-primary ladda-button"
                        data-style="zoom-out">Test
                </button>
            </div>
            <div class="form-group">
                <button type="button" role="button" id="sshConnect" class="btn btn-success ladda-button"
                        data-style="zoom-out">Connect!
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-6 remoteFilesNavigationBlock" style="padding-top: 10px;visibility: hidden;">
        <div class="content row">
            <div class="col-md-12" style="margin-bottom: 5px; padding-left: 0">
                <div class="col-xs-4" style="padding-left: 0;">
                <span id="remoteConnectionName" style="vertical-align: middle;line-height: 2;" data-toggle="tooltip"
                      data-placement="top" data-container="body"></span>
                </div>
                <div class="col-xs-8" style="padding-left: 0; padding-right: 0">
                    <select class="form-control input-sm" id="remotePath" title="Remote Path"></select>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom: 5px; padding-left: 0">
                <span class="glyphicon glyphicon-arrow-left remoteGoBack quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Go Back" style="font-size: 15pt;"></span>
                <span class="glyphicon glyphicon-home remoteGoHome quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Go Home"
                      style="font-size: 15pt;margin-left: 10px;"></span>
                <span class="glyphicon glyphicon-arrow-up remoteGoUp quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Go UP"
                      style="font-size: 15pt;margin-left: 10px;"></span>
                <span class="glyphicon glyphicon-refresh remoteRefresh quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Refresh"
                      style="font-size: 15pt;margin-left: 10px;"></span>
            </div>
            <div class="col-md-12" style="margin-bottom: 5px; padding: 0">
                <div class="remoteFilesBlock pre-scrollable"
                     style="padding: 10px 15px 0 15px; background-color: #ffffff; height: 600px;line-height: 20pt;">
                </div>
            </div>
            <div class="col-md-12" style="padding: 0">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="searchRemoteFiles" title="Search Remote Files"
                           placeholder="Search for files: enter search term"
                           onClick="this.setSelectionRange(0, this.value.length)">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 localFilesNavigationBlock" style="padding-top: 10px;visibility: hidden;">
        <div class="content row">
            <div class="col-md-12" style="margin-bottom: 5px; padding-left: 0">
                <select class="form-control input-sm" id="localPath" title="Remote Path"></select>
            </div>
            <div class="col-md-12" style="margin-bottom: 5px; padding-left: 0">
                <span class="glyphicon glyphicon-arrow-left localGoBack quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Go Back" style="font-size: 15pt;"></span>
                <span class="glyphicon glyphicon-home localGoHome quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Go Home"
                      style="font-size: 15pt;margin-left: 10px;"></span>
                <span class="glyphicon glyphicon-arrow-up localGoUp quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Go UP"
                      style="font-size: 15pt;margin-left: 10px;"></span>
                <span class="glyphicon glyphicon-plus-sign localCreateNewDir quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Create New Directory"
                      style="font-size: 15pt;margin-left: 10px;"></span>
                <span class="glyphicon glyphicon-refresh localRefresh quickNavButton" data-toggle="tooltip"
                      data-placement="top" data-container="body" title="Refresh"
                      style="font-size: 15pt;margin-left: 10px;"></span>
            </div>
            <div class="col-md-12" style="margin-bottom: 5px; padding: 0">
                <div class="localFilesBlock pre-scrollable"
                     style="padding: 10px 15px 0 15px; background-color: #ffffff; height: 600px;line-height: 20pt;">
                </div>
            </div>
            <div class="col-md-12" style="padding: 0">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="searchLocalFiles" title="Search Local Files"
                           placeholder="Search for files: enter search term"
                           onClick="this.setSelectionRange(0, this.value.length)">
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
{{template "footer.html" .}}
