<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New Connection</title>

    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap/bootstrap-editable.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lib/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lib/ladda/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lib/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lib/jquery/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <script src="/public/js/lib/jquery/jquery.min.js"></script>
    <script src="/public/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/lib/bootstrap/bootstrap-editable.min.js"></script>
    <script src="/public/js/lib/bootstrap/bootstrap-show-password.min.js"></script>
    <script src="/public/js/lib/bootstrap/bootstrap-notify.js"></script>
    <script src="/public/js/lib/spin/spin.min.js"></script>
    <script src="/public/js/lib/ladda/ladda.min.js"></script>
    <script src="/public/js/lib/select2/select2.min.js"></script>
    <script src="/public/js/lib/jquery/jquery-ui.min.js"></script>
    <script src="/public/js/lib/jquery/jquery.ui.touch-punch.min.js"></script>
</head>
<body class="grey">
